.singlepost{
    flex:9
}
.singlepostwrapper{
    padding: 20px;
    padding-right: 0px;
}
.singlepost-Img{
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.singlepost-title{
    text-align: center;
    margin: 20px;
    font-size: 28px;
    font-style: italic;
}
.singlepost-editor{
    float: right;
    font-size: 16px;
   
}
.singlepost-Icon{
margin-left: 10px;
cursor: pointer;
}
.singlepost-Icon:first-child{
    color:teal;
}
.singlepost-Icon:last-child{
    color: tomato;
}
.singlepost-info{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #b39656;
    font-size: 20px;
}
.singlepost-discription{
    color: #666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;

}
.singlepost-discription::first-letter{
    color: black;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 700;
   
}