.siderbar{
    flex: 3;
    margin: 20px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
}
.sidebar_img{
    width: 31%;
    height: 248px;

    margin-top: 20px;
}
.sidebar-lorem{
    padding: 20px;
    font-size: 15px;
    text-align: justify;
}
.sidebarlist{
    list-style: none;
    margin-bottom: 20px;
}
.sidebarlistItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  
}
.sidebar-icon{
    margin-left: 15px;
    font-size: 16;
    cursor: pointer;
}


@media only screen and (max-width : 600px){
    .siderbar{
       
        display: flex;
      
    }
}